*{font-family: 'Franklin Gothic Medium' ;}
/*El asterisco es un selector universal, toma todos los elementos de la pagina*/
h2{font-family: 'Times New Roman'; color: aqua;}
/*soloseleciona la etigueta que estamos indicando en el selector*/
.card{background-color: violet;}
/*Un selector tipo clase se manda a llamar con un punto seguido del nombre que le dimos*/

/*  Parte de seccion*/
section{
    width: 70%; /*cupa el 70% de pantalla*/
    background-color: cornflowerblue;
    float: left;
    margin: 10px; /*afecta a todas las partes*/

}
/*Parte del articulo*/
article{
    margin: 0.5em 3em 0em 0em; /*top, right, bottom, left*/
    padding: 0.5em 2em;
    background-color: crimson;
    border: 10px solid black;
 
}
aside{
    width: 25%;
    float: left; /*Indica la posicion del elemento*/
    background-color: darkgoldenrod;
}

footer{
    background-color: blueviolet;
    width: auto;
    height: 60px;
    text-align: center;
    padding: 45px;
    margin: 10px;
    clear: both; /*lo mantiene abajo*/

}

/*Medidas absolutas: Pixeles son medidas que no cambian el el proyecto "px"*/
/*Medidas relativas: "em" se utiliza para hacer referencia a la fuente del navegador*/
/*rem se adapta a la fuente raiz del navegador*/
/*Medidas flexibles "vw" se calcula respecto al ancho del viewport*/
/*ejemplo 100 vw es igual al 100% de la ventana*/
/*vh se calcula respecto a la ALTURA de viewport*/
/*vmin, vmax se calculan respecto al ancho del viewport*/