/*globales*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100%;/*Aqui indica el min de altura que queremos que tenga de la pagina*/
}
html{height: 100%;}/*Aqui indicamos que esta permitido que los item del grid ocupen el 100% de la pagina*/

.grid-container > *{
    text-align: center;
    border-radius: 4px;
    padding: 10px;
}
.header1{
    grid-area: header1;
    background-color: cornflowerblue;
}
.navbar{
    grid-area: navbar;
    background-color: blueviolet;
}
.sidebar{
    grid-area: sidebar;
    background-color: coral;
}
.main{
    grid-area: main;
    background-color: hotpink;
}
.footer1{
    grid-area: footer1;
    background-color: mediumpurple;
}

/*Telefono*/
.grid-container{
    display: grid;
    grid-template-areas: 
    "header1"
    "navbar"
    "main"
    "sidebar"
    "footer1"
    ;
}
/*Tablet*/
@media(min-width:600px){
    .grid-container{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
        "header1 header1"
        "navbar navbar"
        "sidebar main" 
        "footer1 footer1"
        ;
    }
}
/*Escritorio*/
@media(min-width:900px){
    .grid-container{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header1 header1 header1"
        "navbar nabvar navbar"
        /*Con un . (punto) se crea un epacio vacio*/
        "sidebar sidebar main" 
        "footer1 footer1 footer1"
        ;
    }
}